unstructured[pdf]==0.17.2
pdfplumber==0.11.4
spacy==3.8.3
fastapi==0.115.6
uvicorn==0.34.0
neo4j==5.28.1
qdrant-client==1.13.3
transformers>=4.41.0
sentence-transformers==3.3.1
langgraph==0.2.60
python-dotenv==1.0.1
loguru==0.7.3
httpx==0.28.1
python-multipart==0.0.20
torch==2.1.0

# Invoke-RestMethod -Method DELETE -Uri "http://localhost:6333/collections/gcrag_graphs"   
# uvicorn server:app --port 8001
# docker run -p 6333:6333 -p 6334:6334 qdrant/qdrant:latest